<div class="col s12">
	<div class="row">
		<div class="col s3 m2 l2 xl1">微信：</div>
		<div class="col s6 m4">
			<img class="materialboxed z-depth-4" style="border-radius: .5rem;" width="100%" src="/assets/img/my-weixin.png" />
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col s3 m2 l2 xl1">QQ：</div>
		<a href="http://wpa.qq.com/msgrd?v=3&uin=2386209384&site=qq&menu=yes">2386209384</a>
	</div>
	<hr>
	
	<div class="row">
		<div class="col s3 m2 l2 xl1">邮箱：</div>
		<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=qpiZkpyYmpOZkp7q29uEycXH"
		style="text-decoration:none; "><img
		src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png" /></a>
	</div>
	<hr>
	
	<div class="row">
		<div class="col s3 m2 l2 xl1">留言：</div>
		<a href="/message">留言板</a>
	</div>
	<hr>
	
	<ul class="collapsible" style="padding: 0;">
		<li class="row" style="list-style: none; margin: 0;">
			<div class="collapsible-header btn waves-effect valign-wrapper red lighten-1 left">
				<span class="left">赞赏</span>
				<i class="material-icons right">favorite</i>
			</div>
			   
			<div class="collapsible-body row left">
				<div class="col s6 m4">
					<img class="materialboxed z-depth-4" width="100%" src="/assets/img/wxpay.png" alt="微信支付">
				</div>
			</div>
		</li>
	</ul>
</div>
